<!DOCTYPE html>
<html>
<head>
    <title>bootstrap layout</title>
    <link rel="stylesheet" src="bootstrap-3.3.5-dist/css/bootstrap.min.css"
    type="text/css">
    <link rel="stylesheet" src="main.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <section class="row">
            <div class="col-sm-12" id="green"></div>
        </section>
        <section class="row">
            <div class="col-sm-6" id="blue"></div>
            <div class="col-sm-6" id="yellow"></div>
        </section>
        <section class="row">
            <div class="col-sm-12">
                <div class="purple col-sm-4"></div>
                <div class="purple col-sm-4"></div>
                <div class="purple col-sm-4"></div>
            </div>
        </section>
        <section class="row">
            <div class="col-sm-12" id="white"></div>
        </section>
    </div>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/js">
    </script>
</body>
</html>