<<!DOCTYPE html>
<html>
<head>
	<title>bootstrap layout</title>
	<link rel="stylesheet" type="text/css" src="bootstrap-3.3.5-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" src="main.css">
</head>
<body>
<div class="container-fluid">
<section class="row">
	<div class="col-sm-12" id="green"></div>

</section>
<section class="row">
	<div class="col-sm-6" id="blue"></div>
	<div class="col-sm-6" id="yellow"></div>

</section>
<section class="row">
	<div class="col-sm-12">
		<div class="purple col-sm-4" ></div>
		<div class="purple col-sm-4" ></div>
		<div class="purple col-sm-4" ></div>

	</div>

</section>
<section class="row">
	
	<div class="col-sm-12" id="white"></div>
</section>
</div>
</body>
<script type="text/js" src="bootstrap-3.3.5-dist/js/bootstrap.js"></script>

</html>