body{
	background-color: black;

}

#green{
	background-color: #4CAF50;

}
#blue{
	background-color: #2196F3;

}
#yellow{
	background-color: #FFEB3B;

}
.purple{
	background-color: #9C27B0;

}
#white{
	background-color: #FFFFFF;
}